h1, h2, h3, h4, h5, p1{
    font: arial;

}

.btn-secondary{
    background-color: rgb(125,140,188);

}

body{
    background-color: rgb(255,255,255);
    padding-bottom: 70px;

}



ol.numbered{
    list-style-type: upper-roman;
}

.footer {
    position: relative;
    bottom: -200px;

    

}


