h1, h2, h3, h4, h5, p1{
    font: arial;

}

.btn-secondary{
    background-color: rgb(125,140,188);

}

body{
    background-color: rgb(255,255,255);
}

.headshot{
    max-width: 50%
}

ol.numbered{
    list-style-type: upper-roman;
}

.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}
