h1, h2, h3, h4, h5, p1{
    font: arial;

}

.btn-secondary{
    background-color: rgb(125,140,188);

}

body{
    background-color: rgb(255,255,255);

}



ol.numbered{
    list-style-type: upper-roman;
}

.footer {
    position: relative;
    bottom: 0px;

    

}

.contact{
    background-color: lightblue;
}



.email{
    font-family: "Dosis";
    
}

.name h1{
    font-family: "Dosis";
    font-size-adjust: 0.6;
    
    
    
}

.btn-outline-dark {

    color: #343a40;

    border-color: #fff;

    background-color: #fff;

}

.dosis{
    font-family: "Dosis";
}

.bg-section2{
    background-color: cornflowerblue;
}

*{
scroll-behavior: smooth !important;
}
